<mat-toolbar color="primary">
  <div>
    <button mat-icon-button (click)="onSidenavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>LOGO</div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a routerLink="/myTasks">
        <span [matBadge]="myTasks.length" matBadgeColor="warn" [matBadgeHidden]="myTasks.length === 0">Tasks</span>
      </a></li>
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/logout">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
