<mat-toolbar color="primary" class="my-toolbar">
  <div>
    <button *ngIf="isAuth" mat-icon-button (click)="onSidenavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div *ngIf="!isAuth">TRACKING MANAGER by Lanu<span>©</span></div>
  <div *ngIf="isAuth">Hello, {{ employeeGreeting | async }}</div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li *ngIf="isAuth"><a style="cursor: pointer" (click)="onTasksEmployee()">
        <span [matBadge]="myTasksCount" matBadgeColor="warn" [matBadgeHidden]="myTasksCount === 0">Tasks</span>
      </a></li>
      <li *ngIf="isAuth"><a style="cursor: pointer" (click)="onLogOut()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
