<form [formGroup]="addressForm" fxLayout="column" fxLayoutGap="15px">
  <mat-form-field>
    <input type="text" placeholder="Address1" formControlName="address1" matInput required>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="Address2" formControlName="address2" matInput>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="City" formControlName="city" matInput required>
  </mat-form-field>
  <mat-form-field>
    <input type="text" placeholder="State" formControlName="state" matInput required>
  </mat-form-field>
  <mat-form-field>
    <input type="number" placeholder="ZIP" formControlName="zip" matInput required>
  </mat-form-field>
  <mat-dialog-actions fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
    <button type="submit" mat-mini-fab color="primary"
            [mat-dialog-close]="addressForm.value"
            [disabled]="addressForm.invalid || !addressForm.touched">
      <mat-icon>save_alt</mat-icon>
    </button>
    <button type="button" mat-mini-fab color="warn" (click)="onCancel()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-dialog-actions>
</form>
