mat-form-field {
  width: 300px;
}

.background{
  height: calc(100% - 50px);
  background: url('/assets/img/gian-reto-tarnutzer-45217-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
}

#formBack {
  border-radius: 15px;
  width: 330px;
  padding: 30px;
  background: whitesmoke;
  opacity: 1;
}

a{
  text-decoration: none;
  color: #3F51B5;
}

a:hover, a:active{
  color: #808bcc;
}
