<section class="background" fxLayout="column" fxLayoutAlign="up center">
  <div style="height: 150px"></div>
  <div id="formBack">
    <form [formGroup]="signUpForm"
          (ngSubmit)="onSubmit()"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="15px">
      <mat-form-field>
        <input type="email" matInput formControlName="email" placeholder="Email" required>
        <mat-hint>Enter your email.</mat-hint>
        <mat-error>Invalid or missing email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput formControlName="password" placeholder="Password" required>
        <mat-hint>Enter your password.</mat-hint>
        <mat-error>Invalid or missing password.</mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="150px">
        <div fxLayout="row" fxLayoutAlign="start">
          <a style="margin-top: 15px" routerLink="/login">Login</a>
        </div>
        <button type="submit" mat-raised-button color="primary" [disabled]="signUpForm.invalid">Sign Up</button>
      </div>
    </form>
  </div>
</section>
