<div class="task-item">
  <mat-accordion>
    <mat-expansion-panel [ngClass]="{itemCompleted: task.isCompleted}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ task.employee }}
        </mat-panel-title>
        <mat-panel-description>
          {{ 'for ' + task.kind }} {{ task.date.toDate() | date }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <section fxLayout="column" fxLayoutGap="10px">
        <div>Address: <span>{{ task.address.address1}} {{ task.address.address2}}
                            {{ task.address.city}}, {{ task.address.state}}
                            {{ task.address.zip}}
                      </span>
        </div>
        <div>Time: <span>{{ task.time}}</span></div>
        <div>Description: <span>{{ task.description}}</span></div>
        <div *ngIf="task.isCompleted" style="color: blue">
          Completed
        </div>
      </section>
      <mat-action-row fxLayoutGap="10px">
        <button mat-mini-fab color="primary" (click)="onEditTask(task.id)" [disabled]="employeeMode">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="onCompleteTask(task.id)">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="onDeleteTask(task.id)" [disabled]="employeeMode">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

</div>
