<section class="load" style="padding-bottom: 20px">
  <form [formGroup]="loadForm" (ngSubmit)="onSubmit()"
    fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap.gt-sm="100px" fxLayoutGap.lt-md="0px">
      <div fxLayout="column">
        <input type="hidden" formControlName="id">
        <mat-form-field>
          <input type="text" placeholder="Broker's name" formControlName="broker" matInput required>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Dispatch's name" formControlName="dispatch" matInput required>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Commodity" formControlName="commodity" matInput>
        </mat-form-field>
        <mat-form-field>
          <input type="number" placeholder="Rate" formControlName="rate" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Kind ex. Dry, Frozen etc." formControlName="kind" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let kind of kinds" [value]="kind">
              {{kind}}
            </mat-option>
          </mat-select>
          <!--<mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint>-->
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Pick up Address" formControlName="pickUpAddress" matInput required>
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <mat-form-field>
          <input name="pickUpDate" placeholder="Pick up date" formControlName="pickUpDate" matInput required
                 [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Delivery Address" formControlName="deliveryAddress" matInput required>
        </mat-form-field>
        <mat-form-field>
          <input name="deliveryDate" formControlName="deliveryDate" placeholder="Delivery date" matInput required
                 [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input type="number" placeholder="Weight" formControlName="weight" matInput>
        </mat-form-field>
        <mat-form-field>
          <input type="number" placeholder="Number of pallets" formControlName="pallets" matInput>
        </mat-form-field>
        <mat-form-field>
          <input type="text" placeholder="Description" formControlName="description" matInput>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <button type="submit"
              mat-raised-button
              color="primary"
              [disabled]="loadForm.invalid">Save</button>
      <button type="button"
              mat-raised-button
              color="warn" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</section>
