<section fxLayout="column" fxLayoutAlign="center" style="padding: 15px">
      <section fxLayout="column">
        <div>Broker: <span>{{ load.broker }}</span></div>
        <div>Commodity: <span>{{ load.commodity}}</span></div>
        <div>Weight: <span>{{ load.weight}}</span></div>
        <div>Pallets: <span>{{ load.pallets}}</span></div>
        <div>Description: <span>{{ load.description}}</span></div>
      </section>
      <section>
        <form [formGroup]="tasksForm" (ngSubmit)="onSubmit()">
          <div class="tasks">
            <div style="padding-top: 15px">Tasks:</div>
            <div formArrayName="tasks">
              <div fxLayout="column"
                   class="container"
                   *ngFor="let taskCtrl of tasksForm.get('tasks').controls; let i = index"
                   [formGroupName]="i">
                <div fxLayout="row" fxLayoutGap="10px">
                  <input type="hidden" formControlName="loadId">
                  <mat-form-field class="with_1">
                    <mat-select placeholder="Kind" formControlName="kind" required>
                      <mat-option *ngFor="let kind of kindArr" [value]="kind">
                        {{kind}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="with_1">
                    <mat-select placeholder="Driver" formControlName="employee">
                      <mat-option *ngFor="let driver of drivers" [value]="driver.firstName + ' ' + driver.secondName">
                        {{driver.firstName + ' ' + driver.secondName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <span>
                   <button mat-icon-button color="warn" (click)="onDeleteTask(i)">
                    <mat-icon aria-label="Del">close</mat-icon>
                   </button>
                  </span>
                </div>
                <div fxLayout="column">
                  <section fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field class="with_2">
                      <input name="pickUpDate" placeholder="Date" formControlName="date" matInput required
                             [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="with_2">
                      <input type="text" placeholder="Time" formControlName="time" matInput>
                    </mat-form-field>
                  </section>
                  <mat-form-field>
                    <input type="text" placeholder="Address" formControlName="address" matInput required>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="text" placeholder="Confirmation numbers etc." formControlName="description" matInput>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
            <button type="button" mat-raised-button color="primary" (click)="onAddTask()">Add</button>
            <button type="submit" mat-raised-button color="primary">Save</button>
            <button type="button" mat-raised-button color="primary" (click)="onCancel()">Back</button>
          </div>
        </form>
      </section>
</section>
