<section fxLayout="column" fxLayoutGap="10px">
  <section fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-mini-fab color="primary" (click)="onAddNewTask()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="warn" (click)="onDeleteAllTasks()">
      <mat-icon>delete_forever</mat-icon>
    </button>
  </section>
  <router-outlet></router-outlet>
  <app-task-item *ngFor="let task of tasksArr; let i = index" [task]="task"></app-task-item>
</section>

