<div style="height: 16px"></div>
<div class="container" fxLayout="row" fxLayoutAlign="space-between">
  <div class="stolbik" fxLayout="column" fxFlex="49%" fxLayoutGap="20px">
    <div class="mat-elevation-z8 load-description">
      <div class="description mat-subheading-1"> Broker: {{ load.broker}} </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <div class="description mat-subheading-1"> Pick-ups: {{ load.task.pickUpCount}} </div>
        <div class="description mat-subheading-1"> Deliveries: {{ load.task.deliveryCount}} </div>
      </div>
      <div class="description mat-subheading-1"> Rate: {{ load.rate}} $</div>
      <div class="description mat-subheading-1"> Commodity: {{ load.commodity}} </div>
      <div class="description mat-subheading-1"> Pallets: {{ load.pallets}} </div>
      <div class="description mat-subheading-1"> Weight: {{ load.weight}} </div>
      <div class="description mat-subheading-1"> Kind: {{ load.kind}} </div>
      <div class="description mat-subheading-1"> Description#: {{ load.description}} </div>
    </div>
    <app-load-log [loadId]="loadId"></app-load-log>
  </div>
  <div class="stolbik" fxFlex="48%">
    <app-tasks-list [tasksArr]="tasks" [loadId]="loadId" [loggedInEmployee]="loggedInEmployee"></app-tasks-list>
  </div>
</div>
